<div class="w3-modal w3-show">
      <span (click)="closeMe()"
            class="w3-padding w3-yellow w3-hover-red w3-display-topright pointer">&times;</span>
  <div class="w3-modal-content w3-animate-zoom overflow-hidden">
    <div class="w3-left w3-white" style="width:40%">
      <img src="{{ modalSrc }}" style="width:100%;max-height:400px">
      <div [innerHtml]="modalImages"></div>
    </div>
    <div class="w3-right w3-small w3-white" style="width:60%;min-height:400px;">
      <div class="w3-padding" [innerHtml]="modalText"></div>
      <div class="w3-padding">
        Предоставляется гарантия на один сезон работы комбайна, а также послегарантийное сервисное обслуживание,
        поставка запасных частей и бесплатное обучение комбайнеров на протяжении 20 часов.
        Период поставки техники 90 дней. Возможна оплата частями. Цену уточняйте.
      </div>
    </div>
  </div>
</div>
